/* Document wide */
@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu")
}

html {
    font-family: Ubuntu, sans-serif;
}

a {
    text-decoration: none;
    color: blue;
}

#logo {
    width: 35px;
}

/* Header section */
nav {
    border: 2px solid red;
    width: auto;
    display: flex;
    justify-content: space-between;
}

ul {
    padding-left: 0;
    display: flex;
    list-style-type: none;
    border: 2px solid green;
}

#nav-right {
    justify-content: right;
}

li {
    padding: 0.4em;
}