:root {
    color-scheme: light dark;

    /* CSS HEX */
    --eerie-black: #181a1bff;
    --white-smoke: #f5f5f5ff;
    --mint: #00bd9dff;
    --dim-gray: #797270ff;
    --pumpkin: #fc7a1eff;

    /* Logo variables */
    --logo-min-width: 21px;
    --logo-width: 2em;
}


/* Light vs Dark */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--eerie-black);
    }

    h1 h2 h3 h4 h5 h6 p {
        color: var(--white-smoke) !important;
        -webkit-text-fill-color: var(--white-smoke) !important;
    }

    .linkedin {
        filter: brightness(0) saturate(100%);
        min-width: var(--logo-min-width);
        width: var(--logo-width);
    }
}


/* Document wide */
@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu")
}

html {
    font-family: Ubuntu, sans-serif;
}

a {
    text-decoration: none;
    color: var(--mint);
}

.logo {
    min-width: var(--logo-min-width);
    width: var(--logo-width);
}

/* Header section */
nav {
    border: 2px solid red;
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 4em;
}

ul {
    padding-left: 0;
    display: flex;
    list-style-type: none;
    border: 2px solid green;
}

#nav-right {
    justify-content: right;
}

li {
    padding: 0.4em;
}


/* Main Section */
#hero-section {
    background-image: url(../images/Full-Moon-Behind-Mountains.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    height: 400px;
}

main {
    text-align: center;
    justify-content: center;
    padding: 2em 6em;
}


/* Footer Section */
footer {
    text-align: center;
    padding: 2em;
}